div(ng-init='initModel()', xmlns='http://www.w3.org/1999/html')
    nav.navbar.navbar-fixed-top.background-white(role='navigation')
        div.container-fluid
            div.col-xs-12
                div(collapse='!alertVisible')
                    alert#alertPanel(type='lastMessage.type', close='alertVisible=false') {{lastMessage.text}}
            div.col-xs-12
                a(href="{{scorePanelURL}}", target="_blank", ng-show="tournamentSaved")
                    button#btn-openscorer.btn.btn-info.btn-sm.navbar-text.pull-right(form="tournament-form",
                                                                                  type='button')
                                                                                  |Enlace al marcador
                button#btn-save.btn.btn-primary.btn-sm.navbar-text.pull-right(form="tournament-form",
                                                                              type='submit'
                                                                              data-loading-text='Grabando...',
                                                                              data-found-text='Grabado!',
                                                                              data-error-text='ERROR :-(')
                                                                              |Grabar Torneo
    div.container-fluid(style='padding-top: 65px;')
        // TODO add error panel
        form#tournament-form.form(role='form', ng-submit='putTournament()')
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title Fecha y Equipos
                    //div.visible-xs .xs
                    //div.visible-sm .sm
                    //div.visible-md .md
                    //div.visible-lg .lg
                div.panel-body
                    //The Tournament Header
                    div.row
                        div.col-xs-6
                            label(for='leftTeam') Equipo izq.
                            input#leftTeam.text.form-control.input-sm(placeholder='Equipo izq.', typeahead='team for team in frequentTeams | filter:$viewValue', ng-model='tournamentDataSrv.leftTeamName', ng-required='true')
                        div.col-xs-6
                            label(for='rightTeam') Equipo dcha.
                            input#rightTeam.text.form-control.input-sm(placeholder='Equipo izq.', typeahead='team for team in frequentTeams | filter:$viewValue', ng-model='tournamentDataSrv.rightTeamName', ng-required='true')
                    br
                    div.row
                        div.col-xs-6
                            label(for='tournamentdate') Fecha
                            div#tournamentdate.input-group.input-group-sm
                                input.form-control( type='text',
                                                    ng-model='tournamentDataSrv.gameDate',
                                                    ng-required='true',
                                                    is-open='datePickerOpened',
                                                    datepicker-popup='dd-MMM-yyyy',
                                                    datepicker-options='dateOptions',
                                                    clear-text='Borrar',
                                                    close-text='Cerrar',
                                                    current-text='Hoy',
                                                    toggle-weeks-text='Semanas')
                                span.input-group-btn
                                    button.btn.btn-default(type='button', ng-click='openDatePicker($event)')
                                        i.glyphicon.glyphicon-calendar
                        div.col-xs-6
                            label(for='passkey') Palabra clave
                            input#passkey.form-control.input-sm(type='text', ng-model='passKey', ng-required='true')

            // The Matches

            div.col-sm-12.col-md-6.my-repeat-animation(ng-repeat='group in groups')
                div.panel.panel-default
                    // Group heading
                    div.panel-heading
                        div.row
                            div.col-xs-7
                                h3.panel-title Grupo {{group.number}} ({{group.startTime | date:"HH:mm"}})
                            div.col-xs-5
                                div.btn-group.btn-group-sm.pull-right
                                    button.btn.btn-default(type='button', ng-click='addGroup($index+1)')
                                        i.glyphicon.glyphicon-plus
                                    button.btn.btn-default(type='button', ng-click='removeGroup($index)')
                                        i.glyphicon.glyphicon-minus
                    // Group data
                    div.panel-body
                        //start time
                        div.col-xs-12.col-sm-2.col-md-3
                            div.row
                                div#startTime(ng-model='group.startTime')
                                    timepicker(hour-step='1', minute-step='10', show-meridian='false', mousewheel="false")
                        //matches
                        div.col-xs-12.col-sm-10.col-md-9
                            div.row
                                div.col-xs-6.col-sm-4
                                    div.row
                                        label(for='leftPlayer') {{tournamentDataSrv.leftTeamName}}
                                div.col-xs-6.col-sm-4
                                    div.row
                                        label(for='rightPlayer') {{tournamentDataSrv.rightTeamName}}
                            div.row.my-repeat-animation(ng-repeat='match in group.matches')
                                div.col-xs-6.col-sm-4
                                    div.row
                                        input#leftPlayer.text.input-sm.form-control(ng-class="tournamentDataSrv.leftTeamName", placeholder='Jugador {{tournamentDataSrv.leftTeamName}}', ng-required='true', ng-model='match.leftPlayer')
                                div.col-xs-6.col-sm-4
                                    div.row
                                        input#rightPlayer.text.input-sm.form-control(ng-class="tournamentDataSrv.rightTeamName", placeholder='Jugador {{tournamentDataSrv.rightTeamName}}', ng-required='true', ng-model='match.rightPlayer')
                                div.col-xs-12.col-sm-4
                                    div.row
                                        div.btn-group.btn-group-sm
                                            button.btn.btn-default(type='button', ng-click='addMatchToGroup($parent.$index, $index+1)')
                                                i.glyphicon.glyphicon-plus
                                            button.btn.btn-default(type='button', ng-click='removeMatchFromGroup($parent.$index, $index)')
                                                i.glyphicon.glyphicon-minus
                                    div.visible-xs
                                        br

        //span Enlace
        //
        //div#errorModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="errorModalLabel", aria-hidden="true")
        //    div.modal-dialog.modal-sm
        //        div.modal-content
        //            div.modal-header
        //                button.close(type="button", data-dismiss="modal", aria-hidden="true") &times
        //                h4#errorModalLabel.modal-title El torneo ha sido creado
        //            div.modal-body
        //                p Este es el enlace al panel del marcador
        //                a(href="{{scorePanelURL}}", target="_blank") {{scorePanelURL}}
        //            div.modal-footer
        //                button.btn.btn-default(type="button", data-dismiss="modal") Ok
        //                button.btn.btn-info(type="button", ng-click="openScorePanel") Abrir en navegador
